name: CI/CD for dynamic-pricing-tool-ru

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest code
        run: |
          cd /home/romab/dynamic-pricing-tool-ru
          git fetch origin master
          git reset --hard origin/master
          git clean -fd

      - name: Build binary
        run: |
          cd /home/romab/dynamic-pricing-tool-ru
          go mod tidy
          go build -o app cmd/server/main.go

      - name: Deploy binary
        run: |
          cp /home/romab/dynamic-pricing-tool-ru/app /opt/dynamic-pricing-tool-ru/app
          chmod +x /opt/dynamic-pricing-tool-ru/app

      - name: Restart service
        run: sudo systemctl restart dynamic-pricing-tool-ru
